@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.4;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}

.animate-bubble {
  animation: bubble linear infinite;
}
